.appheader {
	color: #5DADE5;
	font-family: 'Pacifico';
	text-align: center;
}

.apptag {
	font-family: 'Raleway';
	text-align: center;
}

.navbar {
	background-color: white;
	font-family: 'Raleway';
	border: none;
}

.glyphicon-globe {
	color: #5DADE5;
}

.navbar-default .navbar-nav>li>a {
	color: #5DADE5;
	font-family: 'Raleway';
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}